MSSQL_SA_PASSWORD=LocalOnly_ReplaceThis_StrongPassword_123!
JWT_SIGNING_KEY=LocalOnly_ReplaceThis_With_A_Random_Key_AtLeast_32_Characters
JWT_ISSUER=LongevityDiet.API
JWT_AUDIENCE=LongevityDiet.Web
SQLSERVER_PORT=14330
REDIS_PORT=6379
API_PORT=8080
GRPC_PORT=8081
WEB_PORT=5173
